# ---> SCons
# for projects that use SCons for building: http://http://www.scons.org/
.sconsign.dblite

# ---> C
# Prerequisites
*.d

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# binary files
bin/
# test files
assets/
# custom build tracking
compile_commands.json
# logs and some custom thoughts
log
thoughts

*.swp
vgcore.*
*.pdf
